# Ignorar dependências do Node (em qualquer subpasta)
**/node_modules/
**/dist/
**/build/

# Ignorar Python e Ambientes Virtuais
**/.venv/
**/venv/
**/__pycache__/
*.py[cod]
*$py.class
.env

# Docker
.dockerignore
postgres-data/
pgdata/

# Outros
.DS_Store
Leiame.txt
fonte_energia.ods
.vscode/
.idea/
.env